@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "normalize";
@import "fonts";
@import "_vars";
@import "_global";

//start header
.header {
}
.header__top {
}
.container {
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__logo {
}
.header__text {
  margin-left: auto;
  margin-right: 25px;
  span {
    color: $red;
  }
}
.header__phone {
}
.header__box {
}
.basket {
}
.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
.regheader__btn-log {
  background-color: $green;
}
.header__btn-reg {
  background-color: $red;
  margin-left: 7px;
}
.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
    a {
      color: #ffffff;
      font-size: 14px;
    }
  }
}
//end header

//start search
.search {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 533px;
}
.search__inner {
  padding: 155px 0 100px;
  color: #ffffff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    // width: 100%;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      height: 56px;
      color: $bg;
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder {
        color: #90a4ae;
        font-weight: 500;
      }
    }
    button {
      position: absolute;
      border: none;
      outline: none;
      background-color: transparent;
      top: 18px;
      right: 16px;
      cursor: pointer;
    }
  }
}
//end search

//start products
.products {
  padding: 110px 0;
  background-color: $grey;
}
.container__fluid {
}
.products__title {
}
.products__inner {
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px;
    border: none;
    background-color: #ffffff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #ffffff;
      outline: none;
    }
  }
}
.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  max-width: 442px;
  // width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    font-weight: 500;
    color: $bg;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    min-width: 310px;
    display: block;
  }
  &-title {
    display: block;
    font-size: 18px;
  }
  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }
  &-price {
    font-size: 20px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &-star {
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}
.product__bottom-btn {
  text-align: center;
  button {
    margin-top: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #ffffff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #ffffff;
      outline: none;
    }
  }
}
//end products

//start prouct-slider
.product-slider {
  padding: 110px 0 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      min-width: 3px;
      margin-right: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: #e8e8e8;
        font-size: 0;
        cursor: pointer;
      }
    }
  }
}
//end prouct-slider

//start cababilities
.capabilities {
  background-color: $bg;
  padding: 110px 0;
}
.capabilities__title {
  color: #ffffff;
  margin-bottom: 85px;
}
.capabilities__inner {
  display: flex;
  justify-content: space-between;
}
.capabilities__item {
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover {
    .capabilities__item-image {
      background-color: $green;
      path {
        fill: #ffffff;
      }
    }
    .capabilities__item-title {
      color: $green;
    }
  }
  &-image {
    width: 114px;
    height: 114px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
    svg {
      height: 75px;
    }
  }
  &-title {
    margin-bottom: 25px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.5s;
  }
  &-text {
    font-size: 15px;
    color: #b0bec5;
  }
}
//end capabilities

//start authors
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
  }
  &__title {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 45px;
    max-width: 260px;
    span {
      font-weight: 700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #ffffff;
  }
}
//end authors

//start tutorial
.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    min-width: 370px;
  }
}
.tutorial__item {
  &-image {
    min-height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-title {
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 30px 10px;
    color: $bg;
  }
}
//end tutorial
